body {
  min-height: 100vh;
  background-color: #070a13;
  background-size: 100%;
  color: #fff;
  font-size: 33px;
  font-weight: 600;
  text-align: center;
  display: flex;

  & h1 {
    color: #595959;
  }
}
